@model Events4All.Web.Models.allEventsViewModel

<h2>Events I'm Attending</h2>

<p>
    @Html.ActionLink("Attend An Event", "Index")
</p>

<table class="table tableOutline" style="width: 100%;">
    <tr>
        <th style="width: 25%;">
            @Html.DisplayName("Name")
        </th>
        <th style="width: 25%;">
            @Html.DisplayName("Time Start")
        </th>
        <th style="width: 25%;">
            @Html.DisplayName("Description")
        </th>
        <th style="width: 25%;">

        </th>
    </tr>

    @foreach (var item in Model.EventsAttend)
     {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="white-space:nowrap;" align="left">
            @Html.ActionLink("View Ticket", "RegistrationConfirmation", "Participants", new { id = item.parId }, new { style = "display: inline", @class = "btn btn-primary", type = "button" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { style = "display: inline", @class = "btn btn-info", type = "button" })
        </td>

       
    </tr>
     }

</table>
