@model Events4All.Web.Models.allEventsViewModel


@{
    ViewBag.Title = "Edit Events";
}
<title>@ViewBag.Title - Events4All</title>

<h2>Events I Created</h2>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>
<table class="table tableOutline" style="width: 100%;">
    <tr>
        <th style="width: 25%;">
            @Html.DisplayName("Name")
        </th>
        <th style="width: 25%;">
            @Html.DisplayName("Time Start")
        </th>
        <th style="width: 25%;">
            @Html.DisplayName("Description")
        </th>
        <th style="width: 25%;">

        </th>
    </tr>

    @foreach (var item in Model.EventsCreated)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td  style="white-space:nowrap";>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "display: inline", @class = "btn btn-info", type = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { style = "display: inline", @class = "btn btn-danger", type = "button" })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "display: inline", @class = "btn btn-warning", type = "button" })
            </td>
        </tr>
    }
</table>




