@model Events4All.Web.Models.allEventsViewModel

<h2>Events I'm Attending</h2>

<p>
    @Html.ActionLink("Attend An Event", "Index")
</p>

<table class="table tableOutline">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Time Start")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
    </tr>

    @foreach (var item in Model.EventsAttend)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id })

            @*@Html.ActionLink("Cancel Registration", "Details", new { id = item.id })*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.id }) |
        @Html.ActionLink("Edit", "Edit", new { id = item.id })*@
        </td>            
    </tr>
    }
</table>
