@model Events4All.Web.Models.EventsViewModel

@{
    ViewBag.Title = "Details";
    string fullAddress = Model.Address + ", " + Model.City + " " + Model.State + ", " + Model.Zip;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<h3 id="warning">@ViewBag.Registered</h3>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => fullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web)
        </dd>

        <dt>
            @Html.DisplayName("Twitter Handle")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterHandle)
        </dd>
        <dt>
            @Html.DisplayName("Hash Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HashTag)
        </dd>
        <dt>
            @Html.DisplayName("Time Start")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayName("Time Stop")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayName("Ticket Price")
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.TicketPrice)
        </dd>


    </dl>
</div>
<p>

    @{
        string styleValue;
        if (ViewBag.Registered == null)
        {
            styleValue = "inline";
        }
        else
        {
            styleValue = "none";
        }
    }
    <div id="pagelink">
        @Html.ActionLink("Register", "Create/" + @Model.Id, "Participants", null, new { id = "register", style = "display:" + @styleValue }) |
        @Ajax.ActionLink("Add to Calendar", "SelectCalendarType/" + Model.Id, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" })
    </div>
</p>
<div id="result" style="display:none;"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/GenerateCalendarPopup.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
}
