@model IEnumerable<Events4All.Web.Models.EventsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table tableOutline">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterHandle)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TimeStop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HashTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isRegistered)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AttendeeCap)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterHandle)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TimeStop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HashTag)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AttendeeCap)
        </td>

        <td style="white-space:nowrap;">

            @{
                string registerStyleValue;
                string viewTicketStyleValue;

                if (item.isRegistered == false)
                {
                    registerStyleValue = "inline";
                    viewTicketStyleValue = "none";
                }
                else
                {
                    registerStyleValue = "none";
                    viewTicketStyleValue = "inline";
                }
            }
            @Html.ActionLink("View Ticket", "RegistrationConfirmation/" + @item.participantId, "Participants", new { id = ViewBag.ParticipantID }, new { style = "display:" + viewTicketStyleValue, @class = "btn btn-primary", type = "button" })
            @Html.ActionLink("Register", "Create/" + item.Id, "Participants", null, new { id = "register", style = "display:" + registerStyleValue, @class = "btn btn-success", type = "button" })

            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "display: inline", @class = "btn btn-info", type = "button" })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { style = registerStyleValue, @class = "btn btn-primary", type = "button" })
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = registerStyleValue, @class = "btn btn-primary", type = "button" })*@
        </td>
    </tr>
    }

</table>
