@model Events4All.Web.Models.ParticipantsViewModel

@{
    ViewBag.Title = "Create";

}

@ViewBag.Registered

<h2>Create</h2>

@using (Html.BeginForm("Create", "Participants", "POST"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Participants</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Number Of Tickets", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfTicket, new { htmlAttributes = new { @class = "form-control", @id = "NumberOfTickets", @type = "number", @Value = "1", @min = "1", @max = "5" } })
                @*@Html.ValidationMessageFor(model => model.NumberOfTicket, "", new { @class = "text-danger" })*@
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Reminder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reminder, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Reminder, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Ticket Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "price" } })
                @Html.ValidationMessageFor(model => model.TicketPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "subtotal" } })
                @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="E4AButtons" />
                <input type="submit" value="Cancel" class="E4AButtons" onclick="location.href='@Url.Action("BackToEvents", "Events")'"/>
            </div>
        </div>
    </div>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/CalculateTicketPrice.js")
}
