<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-Events4All</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="containerFORnav">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img class="logo1" src="~/images/events4AllLogo.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Event Makers <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">@Html.ActionLink("Create Event", "Create", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("All My Events", "allEvents", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("Edit Event Created", "eventsCreated", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("Cancel Event", "eventsCreated", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Event Attendees <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">@Html.ActionLink("Browse All Events ", "Index", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("Register For Event", "Index", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("Print Tickets", "Index", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("Edit Registration", "eventsAttended", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item">@Html.ActionLink("Cancel Registration", "eventsAttended", "Events")</a>
                            <div class="dropdown-divider">
                            </div>
                        </div>
                    </li>




                    <li>@Html.ActionLink("Show All My Events", "allEvents", "Events")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>


    <div id="container">
        <footer>
            <hr />
            <div class="foots">
                <div id="left">
                    <a class="footIcons" href="/">
                        <img class="logo2" src="~/images/eLogo.png">
                    </a>
                </div>
                <div id="center">
                    <p class="footText">Events&nbsp4&nbspAll&nbsp;&copy;@DateTime.Now.Year </p>

                </div>
                <div id="right">
                    <a href="https://www.facebook.com/events4all2019" target="_blank">
                        <img src="https://img.icons8.com/color/48/000000/facebook.png">
                    </a>
                    <a href="https://twitter.com/events4_all" target="_blank">
                        <img src="https://img.icons8.com/color/48/000000/twitter.png">
                    </a>
                    <a class="test" href=" https://www.instagram.com/events4_all/?hl=en" target="_blank">
                        <img src="https://img.icons8.com/color/48/000000/instagram-new.png">
                    </a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <div class="col-md-6 map_agile">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA0C1LPhGrh_jgCTNU0blCVCFfeJmRZCbo'></script>

        <div style='overflow:hidden;height:599.4px;width:100%;'>
            <div id='gmap_canvas' style='height:100%;width:520px;'></div>
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important;
                    visibility: visible !important;
                }
            </style>
        </div>

        <a href='http://casinos-1.com'>.</a>

        <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c55cd61f08514ba52d0b28d793953517c0185723'></script>
        <script src="~/Scripts/DisplayMap.js" type="text/javascript"></script>

    </div>



</body>
</html>
